$border-widths: (
  none: 0px,
  sm: 1px,
  md: 2px,
  lg: 3px,
);

$border-colors: (
  default: (
    light: "neutral-300",
  ),
  card: (
    light: "neutral-300",
  ),
);

$borders: (
  default: (
    width: "sm",
    style: "solid",
    color: "default",
  ),
  card: (
    width: "sm",
    style: "solid",
    color: "card",
  ),
);
