@use "sass:color";

// bs-none is used for transitions
$box-shadow-colors: (
  none: (
    light: "transparent",
  ),
  mobile-nav-menu: (
    light: "neutral-600" 0.16,
  ),
  feature-icon: (
    light: "neutral-200",
  ),
  filter-menu: (
    light: "neutral-300",
  ),
  radio-button: (
    light: "neutral-900" 0.12,
  ),
  recipe-card: (
    light: "neutral-900" 0.16,
  ),
);

$box-shadows-offsets: (
  none: 0px 0px 0px 0px,
  feature-icon: 0px 1px 0px 0px,
  mobile-nav-menu: 0px 12px 22px -12px,
  filter-menu: 0px 12px 22px -12px,
  radio-button: 0px 1px 2px 0px,
  recipe-card: 0px 8px 16px -9px,
);

$box-shadows: (
  mobile-nav-menu: (
    var(--bs-mobile-nav-menu),
  ),
  feature-icon: (
    var(--bs-feature-icon),
  ),
  filter-menu: (
    var(--bs-filter-menu),
  ),
  radio-button: (
    var(--bs-radio-button),
  ),
  recipe-card: (
    var(--bs-recipe-card),
  ),
);
