@use "sass:color";

// bs-none is used for transitions
$box-shadow-colors: (
  none: (
    light: "transparent",
  ),
  // header: (
  //   light: #d9e5f4,
  // ),,
);

$box-shadows-offsets: (
  none: 0px 0px 0px 0px,
  // header: 0px 2px 3px 0px,
);

$box-shadows: (
  // header: (
  //   var(--bs-header),
  // ),
);
