// Primitives
$color-core-neutral: (
  "000": #ffffff,
  "100": #f6f5f1,
  "200": #e0e6e3,
  "300": #d0dcd9,
  "400": #d0dcd9,
  "600": #395852,
  "800": #395852,
  "900": #163a34,
  "950": #293241,
);

$color-core-accent: (
  "orange": (
    "500": #fe9f6b,
  ),
  "teal": (
    "500": #49ac9b,
  ),
  "indigo": (
    "500": #697ddb,
  ),
);

$color-core-brand: (
  // "primary": (
  //   "400": oklch(0.6701 0.1862 26.35),
  //   "500": oklch(0.6119 0.1893 27.23),
  //   "700": oklch(0.5346 0.1993 29.02),
   // ),
);

$color-core-gradient: (
  // 1: (
  //   start: oklch(0.9588 0.0154 257.2),
  //   end: oklch(0.9779 0.0139 185.96),
  // ),
  // 2: (
  //   start: oklch(0.1459 0.0403 266.38),
  //   end: oklch(0.2179 0.0835 267.08),
   // ),
);

// Has themes
$has-themes: false;

// Default-brand
$default-brand: "primary";

// Background-colors
$background-colors: (
  canvas: (
    default: (
      light: "neutral-100",
    ),
  ),
  container: (
    default: (
      light: "neutral-000",
    ),
    header: (
      light: "neutral-100",
    ),
    cta: (
      light: "neutral-200",
    ),
  ),
  mobile-nav: (
    menu: (
      light: "neutral-000",
    ),
    overlay: (
      light: "transparent",
    ),
  ),
  text: (
    highlight: (
      light: "accent-orange-500",
    ),
    selection: (
      light: "neutral-800",
    ),
    target: (
      light: "neutral-800",
    ),
  ),
  icon: (
    default: (
      light: "neutral-000",
    ),
  ),
);

// Foreground-colors
$foreground-colors: (
  text: (
    base: (
      light: "neutral-800",
    ),
    strong: (
      light: "neutral-900",
    ),
    extra-strong: (
      light: "neutral-950",
    ),
    selection: (
      light: "neutral-000",
    ),
    target: (
      light: "neutral-000",
    ),
  ),
  icon: (
    default: (
      light: "neutral-900",
    ),
  ),
  radio-button: (
    idle: (
      light: "neutral-400",
    ),
    hover: (
      light: "neutral-200",
    ),
    checked: (
      light: "neutral-900",
    ),
    checked-hover: (
      light: "neutral-800",
    ),
    focus-outline: (
      light: "neutral-200",
    ),
    focus-label-outline: (
      light: "neutral-900",
    ),
  ),
);
