@use "helper" as *;
@use "page" as *;
@use "sass:map";

// Wrapper max-widths
$wrapper-sizes: (
  default: 1192px,
  narrow: 1088px,
  wide: 1320px,
);

// Static sizes
$static-sizes: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  6: 6px,
  8: 8px,
  10: 10px,
  12: 12px,
  16: 16px,
  18: 18px,
  20: 20px,
  24: 24px,
  32: 32px,
  40: 40px,
  48: 48px,
  64: 64px,
);

// Breakpoint-specific sizes
$breakpoint-specific-sizes: (
  (16, 20, 20),
  (16, 32, 20),
  (20, 24, 24),
  (24, 32, 48),
  (32, 32, 40),
  (32, 40, 40),
  (32, 40, 48),
  (32, 40, 64),
  (32, 48, 48),
  (40, 40, 64),
  (40, 40, 80),
  (40, 64, 64),
  (48, 48, 80),
  (68, 86, 86)
);

//  Logo
$size-logo-md-width-min: 208px;
$size-logo-md-width-max: 260px;

$logo-sizes: (
  md:
    fluid(
      $size-logo-md-width-min,
      $size-logo-md-width-max,
      $viewport-min,
      map.get($breakpoints, "medium")
    ),
);

// Icons
$size-icon-squiggle-1-min: 634px;
$size-icon-squiggle-1-max: 1546px;
$size-icon-features-min: 60px;
$size-icon-features-max: 60px;
$size-icon-cooking-stats-min: 20px;
$size-icon-cooking-stats-max: 20px;
$size-icon-social-height-min: 22px;
$size-icon-social-height-max: 22px;
$size-icon-bullet-point-min: 32px;
$size-icon-bullet-point-max: 32px;

$icon-sizes: (
  squiggle-1:
    fluid(
      $size-icon-squiggle-1-min,
      $size-icon-squiggle-1-max,
      map.get($breakpoints, "small"),
      map.get($breakpoints, "large")
    ),
  features: fluid($size-icon-features-min, $size-icon-features-max),
  cooking-stats:
    fluid($size-icon-cooking-stats-min, $size-icon-cooking-stats-max),
  social-height:
    fluid($size-icon-social-height-min, $size-icon-social-height-max),
  bullet-point: fluid($size-icon-bullet-point-min, $size-icon-bullet-point-max),
);

// Selectables : Element -> Property
$size-toggle-thumb-min: 16px;
$size-toggle-thumb-max: 16px;
$size-toggle-track-width-min: 36px;
$size-toggle-track-width-max: 36px;
$size-toggle-track-height-min: 20px;
$size-toggle-track-height-max: 20px;

$selectable-sizes: (
  toggle: (
    thumb: fluid($size-toggle-thumb-min, $size-toggle-thumb-max),
    track-width:
      fluid($size-toggle-track-width-min, $size-toggle-track-width-max),
    track-height:
      fluid($size-toggle-track-height-min, $size-toggle-track-height-max),
  ),
);
