@use "helper" as *;

// Wrapper max-widths
$wrapper-sizes: (
  default: 1192px,
  narrow: 1088px,
  wide: 1320px,
);

// Static sizes
$static-sizes: (
  2: 2px,
  4: 4px,
  6: 6px,
  8: 8px,
  10: 10px,
  12: 12px,
  16: 16px,
  20: 20px,
  24: 24px,
  32: 32px,
  40: 40px,
  48: 48px,
  64: 64px,
);

// Breakpoint-specific sizes
$breakpoint-specific-sizes: (
  (20, 24, 24),
  (24, 32, 48),
  (32, 32, 40),
  (32, 40, 40),
  (32, 40, 48),
  (32, 40, 64),
  (32, 48, 48),
  (40, 40, 64),
  (40, 40, 80),
  (40, 64, 64)
);

//  Logo
$size-logo-md-height-min: 32px;
$size-logo-md-height-max: 40px;

$logo-sizes: (
  md: fluid($size-logo-md-height-min, $size-logo-md-height-max),
);

// Icons
$size-icon-features-min: 60px;
$size-icon-features-max: 60px;
$size-icon-cooking-stats-min: 20px;
$size-icon-cooking-stats-max: 20px;
$size-icon-controls-min: 20px;
$size-icon-controls-max: 20px;
$size-icon-social-height-min: 22px;
$size-icon-social-height-max: 22px;
$size-icon-bullet-point-min: 32px;
$size-icon-bullet-point-max: 32px;

$icon-sizes: (
  features: fluid($size-icon-features-min, $size-icon-features-max),
  cooking-stats:
    fluid($size-icon-cooking-stats-min, $size-icon-cooking-stats-max),
  controls: fluid($size-icon-controls-min, $size-icon-controls-max),
  social-height:
    fluid($size-icon-social-height-min, $size-icon-social-height-max),
  bullet-point: fluid($size-icon-bullet-point-min, $size-icon-bullet-point-max),
);

// Selectables : Element -> Property
$size-toggle-thumb-min: 16px;
$size-toggle-thumb-max: 16px;
$size-toggle-track-width-min: 36px;
$size-toggle-track-width-max: 36px;
$size-toggle-track-height-min: 20px;
$size-toggle-track-height-max: 20px;

$selectable-sizes: (
  toggle: (
    thumb: fluid($size-toggle-thumb-min, $size-toggle-thumb-max),
    track-width:
      fluid($size-toggle-track-width-min, $size-toggle-track-width-max),
    track-height:
      fluid($size-toggle-track-height-min, $size-toggle-track-height-max),
  ),
);
