@use "helper" as *;
@use "page" as *;
@use "sass:map";

// Page padding
$padding-page-inline-min: 16px;
$padding-page-inline-max: 32px;
// $padding-page-block-start-min: 24px;
// $padding-page-block-start-max: 40px;
$padding-page-block-end-min: 20px;
$padding-page-block-end-max: 40px;

$padding-page: (
  inline-start:
    fluid($padding-page-inline-min, $padding-page-inline-max, "min", "medium"),
  inline-end:
    fluid($padding-page-inline-min, $padding-page-inline-max, "min", "medium"),
  block-end:
    fluid(
      $padding-page-block-end-min,
      $padding-page-block-end-max,
      "min",
      "medium"
    ),
);

// Section padding
$padding-section-xs-min: 48px;
$padding-section-xs-max: 64px;
$padding-section-sm-min: 48px;
$padding-section-sm-max: 80px;
$padding-section-md-min: 48px;
$padding-section-md-max: 96px;
$padding-section-lg-min: 64px;
$padding-section-lg-max: 96px;

$padding-section: (
  xs: fluid($padding-section-xs-min, $padding-section-xs-max, "medium", "max"),
  sm: fluid($padding-section-sm-min, $padding-section-md-max),
  md: fluid($padding-section-md-min, $padding-section-md-max, "min", "large"),
  lg: fluid($padding-section-lg-min, $padding-section-lg-max),
);

// Container padding
$padding-container-xs-min: 4px;
$padding-container-xs-max: 12px;
$padding-container-sm-min: 8px;
$padding-container-sm-max: 8px;
$padding-container-md-min: 10px;
$padding-container-md-max: 10px;
$padding-container-lg-min: 16px;
$padding-container-lg-max: 16px;

$padding-container: (
  xs: fluid($padding-container-xs-min, $padding-container-xs-max),
  sm: fluid($padding-container-sm-min, $padding-container-sm-max),
  md: fluid($padding-container-md-min, $padding-container-md-max),
  lg: fluid($padding-container-lg-min, $padding-container-lg-max),
);

// Container spacing
$spacer-container-sm-min: 20px;
$spacer-container-sm-max: 20px;
$spacer-container-md-min: 24px;
$spacer-container-md-max: 32px;
$spacer-container-lg-min: 24px;
$spacer-container-lg-max: 48px;
$spacer-container-xl-min: 32px;
$spacer-container-xl-max: 48px;

$spacer-container: (
  sm: fluid($spacer-container-sm-min, $spacer-container-sm-max),
  md: fluid($spacer-container-md-min, $spacer-container-md-max, "min", "medium"),
  lg: fluid($spacer-container-lg-min, $spacer-container-lg-max),
  xl: fluid($spacer-container-xl-min, $spacer-container-xl-max),
);

// Selectable padding
$padding-selectable-xs-min: 10px;
$padding-selectable-xs-max: 10px;
$padding-selectable-sm-min: 12px;
$padding-selectable-sm-max: 12px;
$padding-selectable-md-min: 16px;
$padding-selectable-md-max: 16px;
$padding-selectable-lg-min: 24px;
$padding-selectable-lg-max: 24px;
$padding-selectable-xl-min: 32px;
$padding-selectable-xl-max: 32px;

$padding-selectable: (
  xs: fluid($padding-selectable-xs-min, $padding-selectable-xs-max),
  sm: fluid($padding-selectable-sm-min, $padding-selectable-sm-max),
  md: fluid($padding-selectable-md-min, $padding-selectable-md-max),
  lg: fluid($padding-selectable-lg-min, $padding-selectable-lg-max),
  xl: fluid($padding-selectable-xl-min, $padding-selectable-xl-max),
);
